# Vivado generated folders
*.cache/
*.hw/
*.runs/
*.sim/
*.ip_user_files/
*.gen/

# Vivado logs/journals
*.jou
*.log
*.str
*.txt

# Build outputs
*.bit
*.bin
*.ltx
*.dcp
*.wdb
*.vcd

# OS junk
.DS_Store
Thumbs.db